*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('assets/bg1.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  /* background-color: black; */
  user-select: none;

}

#canvas1{
  user-select: none;
  border: 5px solid black;
  position: absolute;
  top:50%;
  left:50%;
  translate : -50% -50%;
  background-image: url('assets/space4.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* overflow: hidden; */
}
#beetlemorph, #player, #player_jets, #rhinomorph, #boss{
  display: none;
}

@media (max-width: 600px){
  #canvas1 {
    width: 80%;
    height: 80%;
  }
}
#shoot{
  position: absolute;
  background: white;
  border: 2px solid red;
  font-size: 1em;

  color: red;
  font-weight: bolder;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  bottom: 2%;
  left: 10%;
  touch-action: none;
}
#laser{
  position: absolute;
  background: white;
  border: 2px solid gold;
  font-size: 1em;

  color: gold;
  font-weight: bolder;
  height: 30px;
  width: 60px;
  border-radius: 30%;
  bottom: 2.8%;
  left:25%;
  touch-action: none;
}

#mega{
  position: absolute;
  background: black;
  border: 2px solid green;
  font-size: 1em;

  color: white;
  font-weight: bolder;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  bottom: 1.5%;
  left:45%;
  touch-action: none;
}




#left_btn , #right_btn{
  position: absolute;
  background: white;
  border: 2px solid black;

  color: black;
  height: 40px;
  width: 50px;
  font-size: 2em;
  font-weight: bolder;
  touch-action: none;
}

#left_btn {
  bottom: 2%;
  right: 24%;
  border-radius: 10% 20%;
}
#right_btn{
  bottom: 2%;
  right: 10%;
  border-radius: 20% 10%;
}

@media (min-width: 600px){
  #shoot, #left_btn, #right_btn, #laser, #mega{
    display: none;
  }

}
