*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('assets/bg1.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  /* background-color: black; */

}

#canvas1{

  border: 5px solid black;
  position: absolute;
  top:50%;
  left:50%;
  translate : -50% -50%;
  background-image: url('assets/space4.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* overflow: hidden; */
}
#beetlemorph, #player, #player_jets, #rhinomorph, #boss{
  display: none;
}

@media (max-width: 600px){
  #canvas1 {
    width: 80%;
    height: 80%;
  }
}
#shoot{
  position: absolute;
  background: white;
  border: 2px solid red;

  color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 2%;
  left: 10%;
  touch-action: none;
}

@media (min-width: 600px){
  #shoot{
    display: none;
  }
}

#left , #right{
  position: absolute;
  background: white;
  border: 2px solid red;

  color: red;
  height: 50px;
  width: 50px;


  touch-action: none;
}

#left {
  bottom: 2%;
  right: 26%;
  border-radius: 10% 20%;
}
#right {
  bottom: 2%;
  right: 16%;
  border-radius: 20% 10%;
}
