*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('assets/bg1.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  /* background-color: black; */

}

#canvas1{

  border: 5px solid black;
  position: absolute;
  top:50%;
  left:50%;
  translate : -50% -50%;
  background-image: url('assets/space4.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* overflow: hidden; */
}
#beetlemorph {
  display: none;
}
